@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.MuiTableRow-hover {
  cursor: pointer;
}

.MuiTableHead-root {
  background-color: aliceblue;
}

.serachPointer:hover {
  cursor: pointer;
}
